{% extends 'admin/base.html' %}

{% block body %}


<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">
     {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

    <!-- Registration form -->
    <form action="" class="flex-fill" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h5 class="mb-0">Create account</h5>
                            <span class="d-block text-muted">All fields are required</span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-right">
                            {{ form.username(class="form-control", placeholder="Choose username") }}
                            <div class="form-control-feedback">
                                <i class="icon-user-plus text-muted"></i>
                            </div>
                            {% for error in form.username.errors %}
                            <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                            {% endfor %}
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    {{ form.pw(class="form-control",placeholder="Create password") }}
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    {% for error in form.pw.errors %}
                                    <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    {{ form.pw2(class="form-control",placeholder="Repeat password") }}
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    {% for error in form.pw2.errors %}
                                    <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    {{ form.email(class="form-control",placeholder="Your email") }}
                                    <div class="form-control-feedback">
                                        <i class="icon-mention text-muted"></i>
                                    </div>
                                    {% for error in form.email.errors %}
                                    <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    {{ form.secret_key(class="form-control",placeholder="Super Secret Key") }}
                                    {% for error in form.secret_key.errors %}
                                    <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-9"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    {{ form.has_perm(class="form-control",placeholder="Permission") }}
                                    {% for error in form.has_perm.errors %}
                                    <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i>&nbsp;[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-8"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                {{ form.submit(class="btn bg-teal-400 btn-labeled btn-labeled-right") }}
                            </div>
                            <div class="col-md-10">
                                Already got an account? <a href="{{ url_for('admin.login') }}" >Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /registration form -->

</div>
<!-- /content area -->


{% endblock %}
